---
- name: Intstall Nginx Web Server on RedHat 
  yum:
     name: nginx
     update_cache: yes
     state: present
  when: ansible_os_family =="RedHat"
  notify:
    - nginx start 
# tasks file for inst_Nginix
- name: Install Nginx Web Server on  Debian
  apt:
     name:  nginx
    # force_apt_get: yes
     state: latest 
   
  when: ansible_os_family =="Debian" 
  notify: 
    - nginx start 
- name: Create home directory for www
  file:
    path: /var/www/{{ virtual_domain }}
    state: directory 
- name: Replace nginx.conf
  template:
    src=/home/kroot/My_program/Ansible/inst_nginx/file/nginx.conf
    dest=/etc/nginx/nginx.conf
- name: Add virtual domain in NGINX for RPM
  vars:
    fastcgi_pass_path: /var/run/php-fpm/php5-fpm.sock
  template:
    src=templates/nginx_vhosts.conf
    dest=/etc/nginx/conf.d/{{ virtual_domain }}.conf
  when:
    ansible_os_family == "RedHat"
  notify:
    - nginx restart
