
 
- name: Make sure we have a 'wheel' group
  group:
     name: wheel
     state: present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
     dest: /etc/sudoers
     state: present
     regexp: '^%wheel'
     line: '%wheel ALL=(ALL) NOPASSWD: ALL'
     validate: 'visudo -cf %s'
- name: Add sudoers users to wheel group
  user:
     name=myuser
     groups=wheel
     append=yes
     state=present
     createhome=yes

- name: Set up authorized keys for the deployer user
  authorized_key: user=myuser key="{{item}}"
  with_file:
   - /home/kroot/.ssh/13.pub

- name: Disable Root Login
  lineinfile: dest=/etc/ssh/sshd_config regexp='^PermitRootLogin'
     line="PermitRootLogin no" state=present backup=yes
  notify:
    - restart ssh
 

- name: Disable Password Authentication
  lineinfile:
     dest=/etc/ssh/sshd_config
     regexp='^PasswordAuthentication$'
     line="PasswordAuthentication no"
     regexp='^Port'
     line="Port 10022"
     state=present
     backup=yes
  notify:
   - restart ssh
 


