- name: Update and install required system packages Debian
  apt:
    pkg: "{{pakages}}"
    state: present
    update_cache: yes
  when: ansible_os_family=="Debian"
- name: Update and install required system packages Redhat
  yum:
    pkg: "{{pakages1}}"
    #force_apt_get: yes
    update_cache: false
    state: latest
  when: ansible_os_family=="RedHat"---

